@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700|Roboto+Slab:400,700');
@import url('http://about.coolecho.net/common/count.min.css');
@import './colors';

.app {
  position: relative;
  width:100%;
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:14px;
  background:$gray-dark;
  color:$white;
  overflow-y:auto;
  overflow-x:hidden;

  .stock-list-container {
    display: flex;
    align-items:center;
    height:100%;
    overflow:hidden;

    .left-half, .right-half {
      display:block;
      width:100%;
      height:100%;
      overflow-y:auto;
      position:relative;
    }

    .right-half {
      font-family:'Roboto Slab', sans-serif;
      font-size:50px;
    }
  }

  @import './components/stockitem';
}
