@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700|Oswald:400,600|Open+Sans+Condensed:300');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://about.coolecho.net/common/count.min.css');

@import './colors';
@import './mixins';

@import './components/switch';

#root {
  background:$gray-dark;
  @import './mediaqueries';
}

.app {
  position: relative;
  width:100%;
  height: 100%;
  @include OpenSans(normal);
  font-size:14px;
  background:$gray-dark;
  color:$white;
  overflow:hidden;

  a {
    color:$white;
    cursor:pointer;

    &:link, &:active, &:visited {
      color:lighten($gray-dark,15%);
      transition:color .25s ease;
    }
    &:hover { color:$white; }
  }

  .github-link {
    font-size:3em;
    margin:0 auto;
    display:inline-block;
    left: 50%;
    position:relative;
    transform:translateX(-50%);
  }

  .inner-scroller {
    padding:10px;
    overflow:auto;
    height:100%;
  }

  h3.logo {
    width:100%;
    font-size:2.75em;
    text-transform:uppercase;
    @include YanoneKaffeesatz(bold);
    padding:0 20px 5px;
    text-shadow:2px 2px $gray-dark, 4px 4px lighten($gray-dark,20%);

    i {
      display:inline-block;
      width:45px;
      height:45px;
      background-image:url('#{$IMG_URL}/stocks-icon.png');
      background-size:cover;
      background-position:center;
      vertical-align:sub;
      margin-right:10px;
    }
  }

  .inner {
    max-width:600px;
    margin:0 auto;

    .list-header {
      display: flex;
      align-items:center;
      margin-bottom:10px;
      color:lighten($gray-dark,45%);

      &.not-inline {
        display:block;
        margin:0 0 10px;
      }

      h3 {
        margin:0;
      }

      p {
        margin: 5px 0 10px;
        font-size:1.15em;
      }
    }

    h3 {
      font-size:1.25em;
      @include Oswald(normal);

      i.fa { margin-right:5px; }
    }

    .sorting-actions {
      margin-left:auto;
      display: flex;
      align-items:center;
      font-size:1.3em;

      i.fa {
        padding:7px;
        cursor: pointer;
        opacity:0.25;
        transition:all .5s ease;

        &.active {
          opacity:1;
        }

        &:active {
          transform:scale(1.1);
        }
      }

      .key-sort {
        margin-right:5px;
      }

      .order-by, .key-sort {
        border-radius:5px;
        background:lighten($gray-dark,5%);
      }
    }
  }

  .pinned-stocks {
    position:relative;
    padding:10px;
    margin-bottom:10px;

    .pinner-stocks-wrapper {
      background:darken($gray-dark,2.5%);
      padding:10px;
      border-radius:5px;
    }

    .no-pinned {
      display: block;
      padding:20px;
      text-align:center;
      font-size:1em;
      opacity:0.15;
      background:rgba($white,0.1);
    }
  }

  .stock-list-container {
    position:relative;
    padding:10px;
  }

  @import './components/stockitem';
  @import './components/insights';
}
