$IMG_URL: './assets/images';

@import './assets/css/main';

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
  height:100%;

  * {
    box-sizing:border-box;
  }
}

